@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: bold;
}
main {
  /* margin: auto 10vw; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  /* border: 1px solid green; */
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  /* border: 1px solid red; */
  gap: 1vw;
}

.resetDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  /* border: 1px solid red; */
  gap: 30px;
}

.countdisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  aspect-ratio: 1;
  font-size: 4vmin;
  border-radius: 5px;
  background: #5c48d3;
  color: white;
  padding: 2px;
}

.resetButton {
  width: 8vw;
  font-size: 2vmin;
  border-radius: 5px;
  background: #5c48d3;
  color: white;
  padding: 2px 8px;
  border: none;
  box-shadow: none;
}

.plusButton,
.minusButton {
  color: black;
  border: none;
  background: none;
  font-size: 30px;
  width: 70px;
}

footer {
  margin-top: 30vh;
  text-align: center;
  color: black;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
